NINE_ROUTER_BASE_URL=http://127.0.0.1:20128/v1
NINE_ROUTER_API_KEY=
NINE_ROUTER_TEXT_MODEL=
NINE_ROUTER_IMAGE_MODEL=
NINE_ROUTER_VIDEO_MODEL=
NINE_ROUTER_TTS_MODEL=
NINE_ROUTER_STT_MODEL=
WORKSPACE_ROOT=./workspace
CAPCUT_DRAFT_DIR=
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe

